# Package artifacts.
package-lock.json
pnpm-lock.yaml
node_modules/
.yarn/

# Build artifacts.
build/

# Various editor preferences.
.vscode
.idea/

# Random crap.
.DS_Store

# Documentation artifacts

docs/root/api/**/*.*
!docs/root/api/index.md
.docuaurus/