.datacore-error-retry {
    margin-top: 1em;
    text-align: center;
}

/** Error Boxes. */

.datacore-error-box {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed var(--background-secondary);
}

.datacore-error-title {
    text-align: center;
}

.datacore-error-message {
    color: var(--text-muted);
    text-align: center;
}

/** Loading views while the index is initializing. */

.datacore-loading-boundary {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed var(--background-secondary);
}

.datacore-loading-title {
    text-align: center;
}

.datacore-loading-content {
    color: var(--text-muted);
    text-align: center;
}

/** Some niceties for rendering language blocks. */

.block-language-datacore li.selected,
.block-language-datacorejs li.selected {
    background: var(--text-accent);
    padding: 0.2em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.block-language-datacore li.selected a,
.block-language-datacorejs li.selected a {
    color: var(--text-on-accent-inverted);
    display: block;
    text-align: center;
    font-weight: bold;
}

.block-language-datacore .datacore-pager,
.block-language-datacorejs .datacore-pager {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 90%;
    margin-right: 1.7em;
}

.block-language-datacore li.previous,
.block-language-datacore li.next,
.block-language-datacorejs li.previous,
.block-language-datacorejs li.next {
    min-height: 1.4em;
    min-width: 1.4em;
}

.block-language-datacore li.previous svg,
.block-language-datacore li.next svg,
.block-language-datacorejs li.previous svg,
.block-language-datacorejs li.next svg {
    color: currentColor;
    fill: currentColor !important;
}
