.datacore-span-embed {
    position: relative;

    padding: 1px 8px 1px 8px;
    margin: 4px 0px 4px 0px;

    background-color: var(--color-base-25);
}

.datacore-embed-source {
    position: absolute;
    top: 4px;
    right: 4px;
    padding-left: 4px;
    padding-right: 4px;

    background-color: var(--background-secondary-alt);
    color: var(--text-faint);

    font-size: var(--font-smallest);
}
