.datacore-list-item-fields {
    color: var(--text-normal) !important;
}
.datacore-list-item-fields > .datacore-field + .datacore-field {
    margin-left: 0.4em;
}

.datacore-field {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.25em;
    font-size: 0.85em;
    align-items: center;
}
.datacore-field .field-title {
    flex-grow: 0;
    font-weight: bold;
    height: inherit;
    display: inline-block;
    background: var(--color-base-25);
    border-right: 2px solid var(--text-accent);
    margin-right: 0.3em;
    padding: 0.2em 0.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    user-select: none;
}
.datacore-field .field-value {
    display: inline-block;
}
.datacore-field .field-value .checkbox-container {
    top: 3px;
}
.datacore-field .field-value input {
    height: unset !important;
}
.datacore-rating-star.filled {
    color: var(--text-accent);
}
.datacore-rating-star {
    user-select: none;
    font-size: 1.3rem;
}

.datacore-editable-outer .prompt-input {
    display: inline-block !important;
    flex-grow: 1;
}

.datacore-selectable__menu {
    z-index: 99999 !important;
    top: 0 !important;
}

.datacore-editable-outer > div {
    /* position: relative; */
}

.datacore-editable-outer .prompt-input input:after {
    content: none !important;
}

.datacore-editable-outer > .suggestion-container:has(.datacore-selectable__control--menu-is-open) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.datacore-selectable__menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.datacore-editable-outer > .suggestion-container {
    box-shadow: none;
}
.datacore-selectable__menu-list .suggestion-item:hover {
    background-color: var(--text-normal);
    color: var(--text-on-accent-inverted);
}
.datacore-editable-outer .datacore-multi-select-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.datacore-editable-outer .datacore-multi-select-value {
    background-color: var(--interactive-accent);
    border-radius: var(--tag-radius);
    padding: var(--tag-padding-y) var(--tag-padding-x);
}

/** groups */

.datacore-group-holder {
    display: grid;
    gap: 0.5em;
    grid-template-rows: auto;
    overflow-x: scroll;
}
.datacore-group {
    display: flex;
    flex-direction: column;
}
.datacore-group-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.datacore-group-content > *:not(.is-collapsed) {
    flex-grow: 1;
}
.datacore-group-content > h1 {
    flex-grow: 0 !important;
    flex-shrink: 1;
}
