.datacore-list-item-fields {
    color: var(--text-normal) !important;
}

.datacore-list-item-fields > .datacore-field + .datacore-field {
    margin-left: 0.4em;
}

.datacore-field {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.25em;
    font-size: 0.85em;
    align-items: center;
}

.datacore-field .field-title {
    flex-grow: 0;
    font-weight: bold;
    height: inherit;
    display: inline-block;
    background: var(--color-base-25);
    border-right: 2px solid var(--text-accent);
    margin-right: 0.3em;
    padding: 0.2em 0.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    user-select: none;
}

.datacore-field .field-value {
    display: inline-block;
}

.datacore-field .field-value .checkbox-container {
    top: 3px;
}

.datacore-field .field-value input {
    height: unset !important;
}

.datacore-rating-star.filled {
    color: var(--text-accent);
}

.datacore-rating-star {
    user-select: none;
    font-size: 1.3rem;
}

.datacore-selectable__input-container,
.datacore-selectable__input-container input {
    min-width: 100% !important;
    width: 100% !important;
    display: inline-flex !important;
}

.datacore-editable-outer .prompt-input.datacore-selectable__input-container {
    display: inline-block !important;
    flex-grow: 1;
}
.datacore-selectable__input-container input {
    width: inherit !important;
    min-width: max-content !important;
    display: inline-block;
}

.datacore-selectable__menu {
    z-index: 99999 !important;
    top: 0 !important;
}

.prompt-input.datacore-selectable__input-container::after {
    content: none !important;
}

.value-container.datacore-selectable__value-container {
}

.suggestion-container:has(.datacore-selectable__control--menu-is-open) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.datacore-selectable__menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.datacore-editable-outer > .suggestion-container {
    box-shadow: none;
}

.datacore-selectable__menu-list .suggestion-item:hover {
    background-color: var(--text-normal);
    color: var(--text-on-accent-inverted);
}

.datacore-multi-select-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.datacore-multi-select-value {
    background-color: var(--interactive-accent);
    border-radius: var(--tag-radius);
    padding: var(--tag-padding-y) var(--tag-padding-x);
}
